* {
	box-sizing: border-box;
}

body {
	font-family:
		"IBM Plex Sans Variable", "IBM Plex Sans", Arial, Helvetica, sans-serif;
}

.material-symbols-sharp {
	font-family: "Material Symbols Sharp Variable", sans-serif;
}

.filled {
	font-variation-settings: "FILL" 1;
}
